.person {
    width: 180px;
    margin: 20px 20px 0 10px;
    color: rgb(57, 52, 52);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.name {
    padding: 5px;
}

.person .image-container {
    margin-bottom: 0;
}

.people-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.people-container button {
    margin-top: 20px;
}

@media (max-width: 460px) {

    .person {
        width: 80%;
        height: 420px;
        margin-bottom: 20px;
    }

    .person .image-container {
        height: 93%;
    }

    .person img {
        width: 90%;
        height: 100%;
    }
}

/* Person Page section ------------------------------------------------- */

.person-details-container {
    color: black;
    max-width: 1200px;
    margin: auto;
    padding: 20px 45px 0 10px;
    font-family: 'Open Sans', sans-serif;

}

@media (max-width: 1250px) {
    .person-details-container {
        margin-left: 15px;
        margin-right: 40px;
    }
}

.person:hover {
    cursor: pointer;
}

.personal-info {
    display: flex;
}

@media (max-width: 768px) {
    .personal-info {
        flex-wrap: wrap;
    }

    .person-details-container {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 480px) {
    .person-details-container h1 {
        font-size: 2rem !important;
        margin: 0;
    }
}

.personal-info h2,
.personal-info h3 {
    margin-bottom: 5px;
}

.personal-info p {
    padding: 5px 20px 0 5px;
}

.personal-details div {
    margin: 0 20px 10px 20px;
}

.person-details-container h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 10px 0;
}

.personal-image-container {
    min-width: 300px;
    max-width: 300px;
    height: 100%;
}

.main-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* known-for */
.known-for {
    font-weight: 500;
    color: grey;
    margin: 5px;
}

.dash::after {
    content: ' - ';
    margin-right: 5px;
}

.section-heading {
    margin-top: 20px;
    font-size: 1.7rem;
    border-bottom: 2px solid rgb(195, 192, 192);
}

.personal-info #see-more {
    position: relative;
    margin: 0;
}

.biography p {
    max-height: 200px;
    overflow-y: hidden;
}

#see-more span {
    position: absolute;
    color: royalblue;
    bottom: 0px;
    right: -65px;
    cursor: pointer;
}